@model IEnumerable<SavvyStudy.Models.Word>
@{
    ViewData["Title"] = "Search";
}


<h1>Words</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get" action="@Url.Action("Search", "WordController")">
    <label for="search">Search</label>
    <input type="text" name="search" id="search" />
    <button type="submit">Perform search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Untranslated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Translated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pronunciation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Untranslated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Translated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pronunciation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
