@model SavvyStudy.Models.WordUntranslatedPracticeViewModel
@{
    ViewData["Title"] = "WordUntranslatedTypedPractice";

    var nextWords = new List<Word>();
}

<h1>Select the correct untranslated word</h1>

<h4>Word</h4>
<hr />


<dl class="row">

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Translated)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Translated)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Pronunciation)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Pronunciation)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Language)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Language)
    </dd>
    
        <div class="col-sm-10" onclick="myFunction(this)">
            @Html.DisplayFor(model => model.NextWords[0].Untranslated)
        </div>
        <div class="col-sm-10" onclick="myFunction(this)">
            @Html.DisplayFor(model => model.NextWords[1].Untranslated)
        </div>
</dl>

<script>
    function myFunction(divObj) {
        divObj.stylee = "border: 1px solid black;";
    }
</script>




<div class="row">
    <div class="col-md-4">




        <form asp-action="WordUntranslatedTypedPractice">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Untranslated" class="control-label"></label>
                <input asp-for="Untranslated" class="form-control" id="userInput" name="untranslatedGuess" />
                <span asp-validation-for="Untranslated" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label hidden asp-for="Id" class="control-label"></label>
                <input hidden asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Check" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
